/*--------------------------------*/
/* Custom Properties              */
/*--------------------------------*/


:root {
    /* Colors */
    --clr-purple100: 254 88% 90%;
    --clr-purple500: 256 67% 59%;
    --clr-yellow100: 31 66% 93%;
    --clr-yellow500: 39 100% 71%;
    --clr-white: 0 0% 100%;
    --clr-black: 0 0% 7%;

    /* Font */
    --ff-dmsans: "DM Sans", sans-serif;

    /* Font Weights*/
    --fw-400: 400;
    --fw-500: 500;

    /* Font Sizes */
    --fs-18: 1.125rem;
    --fs-32: 2rem;
    --fs-40: 2.5rem;
    --fs-62: 3.875rem;

    /* Letter Spacing */
    --ls-3: -.125rem;
    --ls-2: -1px;
    --ls-0: 0rem;

    /* Line Heights */
    --lh-90: 90%;
    --lh-111: 111%;
    --lh-935: 93.5%;
    --lh-875: 87.5%;

    /* Spacing */
    --spc-100: .5rem;
    --spc-200: 1rem;
    --spc-300: 1.5rem;
    --spc-400: 2rem;
    --spc-500: 2.5rem;
}

/*--------------------------------*/
/* Reset                          */
/*--------------------------------*/

*, *::before, *::after {
    box-sizing: border-box;
}

/* Reset margins                          */

body, h1, h2, h3, h4, p, ul, ol {
    margin: 0
}

/* Set body                               */

body {
    font-family: var(--ff-dmsans);
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    background-color:  hsl(var(--clr-white));
    line-height: 150%;
    letter-spacing: 0px;
    font-size: var(--fs-18);
    font-weight: var(--fw-400);
    color: hsl(var(--clr-black));
    grid-template-rows: 1fr auto 1fr;
}

header, footer {
    height: fit-content;
}

/* Image Settings                        */
img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/*--------------------------------*/
/* Utility Classes                */
/*--------------------------------*/

/* Screen Reader Only Class */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.purple-box {
    color: hsl(var(--clr-white));
    background: hsl(var(--clr-purple500));
}

.yellow-box {
    background: hsl(var(--clr-yellow500));
}

.light-yellow-box {
    background: hsl(var(--clr-yellow100));
}

.light-purple-box {
    background: hsl(var(--clr-purple100));
}

.white-box {
    background: hsl(var(--clr-white));
}

.txt-purple {
    color: hsl(var(--clr-purple500));
}

.txt-yellow {
    color: hsl(var(--clr-yellow500))
}

.text-1 {
    font-size: var(--fs-62);
    line-height: var(--lh-935);
    font-weight: var(--fw-500);
    /* letter-spacing: var(--ls-3); */
}

.text-2 {
    font-size: var(--fs-40);
    line-height: var(--lh-90);
    font-weight: var(--fw-500);
    /* letter-spacing: var(--ls-2); */
}

.text-3 {
    font-size: var(--fs-32);
    line-height: var(--lh-875);
    font-weight: var(--fw-500);
    letter-spacing: var(--ls-2);
}

.text-4 {
    font-size: var(--fs-18);
    line-height: var(--lh-111);
    font-weight: var(--fw-400);
    letter-spacing: var(--ls-0);
}



/* Frontend Mentor Attribution    */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Font Classes                   */

/* Color Classes                  */

/*--------------------------------*/
/* Styling                        */
/*--------------------------------*/

main {
    margin-inline: auto;
    gap: var(--spc-400);
}

.card {
    max-height: 100%;
    border-radius: 1rem;
    padding: var(--spc-300);
    overflow: hidden;
}

/* Faster with ai card styling */

.faster-with-ai {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--spc-400);
    gap: 0;
    
}

.faster-with-ai h2 {
    line-height: 90%;
    margin-top: var(--spc-400);
    margin-bottom: var(--spc-300);
    font-weight: var(--fw-500);
}

.faster-with-ai img {
    width: 12rem;
    margin-inline: auto;
    margin-bottom: var(--spc-100);
}

/* Multiple Platforms */

.manage-maintain {
    border-radius: 1rem;
}
.multiple-platforms {
    padding: var(--spc-300);
    flex-direction: column;
    gap: 0;
    justify-content: space-between;
    overflow: hidden;
}

.multiple-platforms h2 {
    width: 90%;
}

.multiple-platforms img {
    max-width: none;
    width: 20.3rem;
    
}

/* Maintain Schedule */

.maintain-schedule img {
    margin-top: var(--spc-200);
}

/* Schedule to social media */
.schedule-to-social {
    flex-direction: column;
    justify-content: space-evenly;
    padding: var(--spc-400);
    overflow: hidden;
}

.schedule-to-social img {
    max-width: none;
    width: 22rem;
    margin-block: var(--spc-300);
}

/* Grow Followers */

.grow-followers {
    gap: var(--spc-100);
    align-items: center;
}

/* Audience Growth */

.audience-growth {
    flex-direction: column;
}

.audience-growth p {
    margin-top: var(--spc-200);
    margin-bottom: var(--spc-400);
}

.audience-growth img {
    width: 80%;
}

/* Left column */
.quicker, .write-ai{
    flex-direction: column;
    height: 415px;
    width: 256px;
    border-radius: 1rem;
}

.quicker{
    justify-content: center;
}

.write-ai {
    justify-content: space-between;
    padding-right: .75rem;
}

.write-ai h2 {
    width: 75%;
}

/*--------------------------------*/
/* Styling for small screens      */
/*--------------------------------*/

@media (min-width: 1200px) {
    main {
        width: 1120px;
        height: 881px;
        grid-template-columns: repeat(4, minmax(0 , 16rem));
        grid-template-rows: minmax(0, 20.25rem) repeat(2, minmax(0, 15.375rem));
    }
}

@media (width < 1200px) {
    main {
        grid-template-columns: 688px;
        grid-auto-rows: auto;
    }

    .card {
        width: 100%;
    }

    .faster-with-ai {
        
    }
    
    .manage-maintain {
    
    }
    
    .schedule-to-social {
    
    }
    
    .grow-followers {
        flex-direction: column;
    }
    
    .audience-growth {
        
    }
}

@media (width < 700px) {
    main {
      grid-template-columns: 343px;  
    }

    .card {
        padding: var(--spc-400)
    }

    .manage-maintain {
        flex-direction: column;
    }

    .faster-with-ai {
        height: 343px;
    }

    .faster-with-ai h2 {
        font-size: var(--fs-40);
        padding-inline: var(--spc-200);
    }
}



