/*--------------------------------*/
/* Custom Properties              */
/*--------------------------------*/


:root {
    /* Colors */
    --clr-purple100: 254 88% 90%;
    --clr-purple500: 256 67% 59%;
    --clr-yellow100: 31 66% 93%;
    --clr-yellow500: 39 100% 71%;
    --clr-white: 0 0% 100%;
    --clr-black: 0 0% 7%;

    /* Font */
    --ff-dmsans: "DM Sans", sans-serif;

    /* Font Weights*/
    --fw-400: 400;
    --fw-500: 500;

    /* Font Sizes */
    --fs-18: 1.125rem;
    --fs-32: 2rem;
    --fs-40: 2.5rem;
    --fs-62: 3.875rem;

}

/*--------------------------------*/
/* Reset                          */
/*--------------------------------*/

*, *::before, *::after {
    box-sizing: border-box;
}

/* Reset margins                          */

body, h1, h2, h3, h4, p, ul, ol {
    margin: 0
}

/* Set body                               */

body {
    font-family: var(--ff-dmsans);
    width: 100%;
    min-width: 320px;
    background-color:  hsl(var(--clr-white));
    line-height: 150%;
    letter-spacing: 0px;
    font-size: var(--fs-18);
    font-weight: var(--fw-400);
    color: hsl(var(--clr-black))
}

/* Image Settings                        */
img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/*--------------------------------*/
/* Utility Classes                */
/*--------------------------------*/

/* Screen Reader Only Class */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.flex {
    display: flex;
    gap: 2rem;
}

.grid {
    display: grid;
    gap: 2rem;
}

.purple-box {
    color: hsl(var(--clr-white));
    background: hsl(var(--clr-purple500));
    grid-column: span 2;
}

.yellow-box {
    background: hsl(var(--clr-yellow500));
}

.light-yellow-box {
    background: hsl(var(--clr-yellow100));
}

.light-purple-box {
    background: hsl(var(--clr-purple100));
}

.txt-purple {
    color: hsl(var(--clr-purple500));
}

.txt-yellow {
    color: hsl(var(--clr-yellow500))
}

.text-1 {
    font-size: var(--fs-18);
}

.text-2 {
    font-size: var(--fs-32);
}

.text-3 {
    font-size: var(--fs-40);
}

.text-4 {
    font-size: var(--fs-62);
}



/* Frontend Mentor Attribution    */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Font Classes                   */

/* Color Classes                  */

/*--------------------------------*/
/* Styling                        */
/*--------------------------------*/

main {
    width: 1120px;
    height: 881px;
    margin-inline: auto;
    grid-template-columns: repeat(4, minmax(0 , 16rem));
    grid-template-rows: minmax(0, 20.25rem) repeat(2, minmax(0, 15.375rem));
    border-radius: 1rem;
}

.card {
    max-height: 100%;
    border-radius: inherit;
}

.left-wrapper {
    grid-column: 1;
    grid-row: 1 / span 3;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

/* Faster with ai card styling */

.faster-with-ai {
    grid-column: 2 / 4;
    grid-row: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    
}

.faster-with-ai h2 {
    line-height: 90%;
    margin-bottom: 1.5rem;
    font-weight: var(--fw-500);
}

.faster-with-ai img {
    width: 10rem;
    margin-inline: auto;
}

.multiple-platforms {
    grid-column: 2;
    grid-row: 2;

}

.maintain-schedule {
    grid-column: 3;
    grid-row: 2;
}

/* Schedule to social media */
.schedule-to-social {
    grid-column: 4;
    grid-row: 1 /3;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
}

.schedule-to-social img {
    
}

.grow-followers {
    grid-column: 3 / 5;
    grid-row: 3;
}

.audience-growth {
    grid-column: 2;
    grid-row: 3;
}

.quicker, .write-ai{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 415px;
    width: 256px;
    padding: 2rem;
}

.quicker{
    
}

.write-ai {

}


/*--------------------------------*/
/* Styling for small screens      */
/*--------------------------------*/