/*--------------------------------*/
/* Custom Properties              */
/*--------------------------------*/

/* Colors */
:root {
    --clr-purple100: 254 88% 90%;
    --clr-purple500: 256 67% 59%;
    --clr-yellow100: 31 66% 93%;
    --clr-yellow500: 39 100% 71%;
    --clr-white: 0 0% 100%;
    --clr-black: 0 0% 7%;
}

/*--------------------------------*/
/* Reset                          */
/*--------------------------------*/

*, *::before, *::after {
    box-sizing: border-box;
}

/* Reset margins                          */

body, h1, h2, h3, h4, p, ul, ol {
    margin: 0
}

/* Set body                               */

body {
    font-family: 'Outfit', 'sans-serif';
    width: 100%;
    min-width: 320px;
    background-color:  hsl(var(--clr-white));
    line-height: 150%;
    letter-spacing: 0px;
    font-size: 1.125rem;
    font-weight: 400;
    color: hsl(var(--clr-black))
}

/* Image Settings                        */
img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/*--------------------------------*/
/* Utility Classes                */
/*--------------------------------*/

/* Screen Reader Only Class */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
    gap: 1rem;
}

.purple-box {
    color: hsl(var(--clr-white));
    background: hsl(var(--clr-purple500));
    grid-column: span 2;
}

.yellow-box {
    background: hsl(var(--clr-yellow500));
}

.light-yellow-box {
    background: hsl(var(--clr-yellow100));
}

.light-purple-box {
    background: hsl(var(--clr-purple100));
}

/* Frontend Mentor Attribution    */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Font Classes                   */

/* Color Classes                  */

/*--------------------------------*/
/* Styling                        */
/*--------------------------------*/

main {
    width: 1120px;
    height: 881px;
    margin-inline: auto;
    grid-template-columns: repeat(4, 16rem);
    grid-template-rows: repeat(3, 16rem);
    border-radius: 1rem;
}


/*--------------------------------*/
/* Styling for small screens      */
/*--------------------------------*/